!! Sources
#include ".config/Xresources.d/nord"

!! xft
xft.dpi:	96
xft.antialias:	true
xft.hinting:	true
xft.rgba:	rgb
xft.autohint:	false
xft.hintstyle:	hintfull
xft.lcdfilter:	lcddefault

!! URxvt
urxvt*termName:		rxvt-256color
!! urxvt*geometry:		170x40
urxvt*scrollBar:	false
urxvt*iso14755:		false
urxvt*font:		xft:DejaVuSansMono Nerd Font:size=14, \
 			xft:DejaVu Sans Mono for Powerline:size=14 \
 			xft:Ubuntu Mono Nerd Font:size=14, \
 			xft:Inconsolata Nerd Font Mono:size=14, \
 			xft:DroidSansMono Nerd Font:size=14, \
 			xft:FuraMono Nerd Font:size=14, \
 			xft:RobotMono Nerd Font:size=14, \
 			xft:Ubuntu Mono derivative Powerline:size=14, \
 			xft:Noto Sans Mono:size=14, \
 			xft:Monospace:style=Medium:antialias=false
!! urxvt*boldFont:		xft:Ubuntu Mono derivative Powerline Bold:size=13
!! urxvt*italicFont:	xft:Ubuntu Mono derivative Powerline Italic:size=13
!! urxvt*boldItalicFont:	xft:Ubuntu Mono derivative Powerline Bold Italic:size=13

!! urxvt*letterSpace:	-1
urxvt*borderColor:	#000000
urxvt*internalBorder:	1
urxvt*loginShell:	true
urxvt*depth:		32
urxvt*background:	[90]#000000
urxvt*foreground:	White
urxvt*colorUL:		Yellow
urxvt*underlineColor:	Yellow

!! Extensions:
urxvt*perl-ext-common: 	default,matcher,url-select,keyboard-select,resize-font
!! matcher
urxvt*url-launcher:	/usr/bin/xdg-open
urxvt*matcher.button:	1
!! url-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true
!! keyboard-select
URxvt.keysym.M-Escape: perl:keyboard-select:activate
!! resize-font
URxvt.resize-font.smaller: C-j
URxvt.resize-font.bigger: C-k

